.body {
    border: 2px black;
    height: 756px;
    width: 100%;
    background: linear-gradient(to bottom, #ffff, #006FEE);
    display: flex;
    justify-content: center;


}

.content {
    border-radius: 20;
    height: 600px;
    width: 800px;
    margin-top: 6%;
    display: flex;
}

.image {
    
    height: 600px;
    width: 400px;
    background-image: url(./finance-and-financial-performance-concept-illustration_53876-43398.jpg);
    background-size: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
}

.form {
    
    height: 600px;
    width: 400px;
    background-color: white;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
}

input {
    width: 320px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #006FEE;
    padding: 10px 5px;
    margin-bottom: 20px;
    transition: border-color 0.3s;
    color: black;
}
label {
  color: black;
  font-size: 50px;
  margin-bottom: 5px;
}



button {
    background: #006FEE;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;

}

button:hover {
    background: #56A5F3;
}

select {
    width: 320px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #555;
    padding: 10px 5px;
    margin-bottom: 20px;
    color: black;
    font-size: 14px;
    outline: none;
}
select option {
  background-color: white;   
  color: black;              
}